/* Style pour le header et la barre de navigation */
header {
    color: orange;
    padding: 5px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Style pour la page d'accueil */
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
    text-align: center;
  }