/* Ajoutez la classe .container ou le sélecteur du conteneur principal */
/* Ajoutez la classe .container ou le sélecteur du conteneur principal */

/* Votre CSS existant ci-dessous */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer horizontalement les éléments */
  overflow-x: hidden;
}

.logo-name {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer horizontalement les éléments */
  margin-left: auto;
  margin-right: auto;
}

.logo-name h1 {
  font-size: 28px;
  text-align: center;
  margin: 0;
  margin-right: 10px; /* Réduisez la marge à droite du texte */
}

.logo-name img {
  height: 40px;
  margin-left: 350px; /* Réduisez la marge à gauche de l'image */
}

/* Les autres styles restent inchangés */

.auth-buttons button {
  margin-left: 10px;
  background-color: #fff;
  color: orange;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-color: orange;
  border-radius: 5px;
  margin-left: 50px;
}

.auth-buttons button.active {
  background-color: orange;
  color: #fff;
}

.auth-buttons button:hover:not(.active) {
  background-color: orange;
  color: #fff;
}

.home {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #fff;
}

.head { 
  top: 0;
  left: 0;
  z-index: 9999;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-name {
  display: flex;
  align-items: center;
}




/* Styles pour les écrans plus petits (appareils mobiles) */
@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    text-align: center;
    overflow-x: hidden; 
  }

  .auth-buttons {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .logo-name h1 {
    font-size: 24px;
    margin: 10px 0;

  }
  .logo-name img {
    margin-left: 20px;
  }
  .auth-buttons{
    margin-left: -50px;
    margin-right: -10px;
  }
  .auth-buttons button {
    margin-left: 30px;
  }
}
