/* véhicules.css */

.voitures-container {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: fit-content;
  animation: scroll 20s linear infinite;
}

.carousel-item {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.prev-button,
.next-button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  outline: none;
  padding: 5px;
  transition: color 0.3s;
}

.prev-button:hover,
.next-button:hover {
  color: #aaa;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
