.vehicle-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.city-selector {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 8px;
  font-size: 16px;
}

.vehicle-ul {
  list-style: none;
  padding: 0;
}

.vehicle-li {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.vehicle-li h3 {
  font-size: 20px;
  margin: 0;
}

.vehicle-li p {
  margin: 10px 0;
}

.vehicle-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.phone-info {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.phone-icon {
  width: 20px;
  height: 20px; 
  margin-right: 5px;
}

.phone-number {
  font-size: 14px; 
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.one,
.two {
  flex: 1;
}
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.image-modal img {
  max-width: 90%; 
  object-fit: contain;
}
.phone-link {
  text-decoration: none;
  color: orange;
}